{% extends 'tinymce_base.html' %}


{% block title %}
    {{ block.super }}: Страница завершения "{{ object.title }}"
{% endblock title %}


{% block content %}
    <h1>Страница завершения "{{ object.title }}"</h1>
    <form action="{% url 'ending_page_edit' object.slug %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    В поле ввода введите содержание документа. Для подстановки используйте имена переменных, в фигурных скобках
    ({var_name}).

    {{ block.super }}
{% endblock content %}

