{% extends 'tinymce_base.html' %}

{% block title %}
    {{ block.super }}: Шаблон "{{ object.title }}"
{% endblock title %}

{% block content %}
    <h1>Шаблон "{{ object.title }}"</h1>
    <form action="{% url 'doc_templates_edit' object.slug %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    В поле ввода введите содержание документа. Для подстановки используйте имена переменных, в фигурных скобках
    ({var_name}).

    {{ block.super }}
{% endblock content %}
